<section class="comment">
  <img src="/images/{{comment.filename}}" alt="{{comment.description}}">
  <div class="comment-details">
    <h3>{{comment.title}}</h3>
    <p>By: {{comment.artist}}</p>
    <p>Exhibition open until: {{ format_date comment.exhibition_date}}</p>
  </div>
</section>